@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    display: flex;
    padding: 15px 60px;
    justify-content: space-between;
    background-color: #59412D;
    align-items: center;
}

.areaLogo {
    width: 40px;
    height: 40px;
    background-color: #fff;
}

.areaBusca {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 660px;
}

.areaBusca input {
    padding: 8px 20px;
    width: 100%;
    border-radius: 8px;
    border: none;
}

.areaBusca form {
    width: 100%;
}

.areaBusca input:focus {
    outline: none;
    color: #3F332A;
    box-shadow: 0px 0px 1px 3px #3f332a48;
    transition-duration: 0.3s;
}


.iconBusca {
    color: #fff;
    font-weight: bold;
    font-size: 40px;
}

.areaBtns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.areaBtns button {
    color: #fff;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
}

.iconBar:hover {
    color: rgba(255, 255, 255, 0.564);
    transition-duration: 0.3s;
}